/* You can add global styles to this file, and also import other style files */
:root{
    --background-color : #e0d6ce; 
    --black : #302d24;
    --white: #fff;
}

body{
    background-color: var(--background-color);
    color: var(--black);
}